@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #87e9c8, #27cc95);
}

.container {
  max-width: 400px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 10px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #8ce4c6, #43ecb4);
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: 100%;
}
.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3 ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #43ecb4;
}


form input[type="radio"] {
  display: none;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  cursor: pointer;
  color: #fff;
  font-family: "Poppins", sans-serif;
  background-size: 200%;
  transition: 0.5s;
  text-transform: uppercase;
}
.btn:hover {
  background-position: right;
}

@media only screen and (max-device-width: 584px) {
  .container {
    max-width: 90%;
    margin: 0 1em;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  .container form .user-details {
    max-height: 400px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 0;
  }
}


.fail__alert {
  display: flex;
  background-color: rgb(240, 208, 208);
  width: 100%;
  height: 40px;
  align-items: center;
  border-radius: 2px;
  border-left: 4px solid rgb(206, 138, 138);
}

.fail__alert-icon {
  color: rgb(197, 3, 3);
  margin: 0 10px;
}

.success__alert {
  display: flex;
  background-color: rgb(186, 226, 198);
  width: 100%;
  height: 40px;
  align-items: center;
  border-radius: 2px;
  border-left: 4px solid rgb(99, 212, 146);
}

.success__alert-icon {
  color: rgb(16, 167, 61);
  margin: 0 10px;
}