{% if message %}
<script>
    alert('{{message}}');
</script>
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sign</title>
    </head>
    <body>
        <form action="/postsignup/" method ="post">
            {%csrf_token%}
            Name:
            <input type="name" name="name" id="">
            Email:
            <input type="email" name="email">
            Password:
            <input type="password" name= "password">
            <input type="submit" value="SignUp"> 
        </form>
    </body>
</html>