{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'css/styleUp.css'%}" />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>

<body>
<div class="container">
    <div class="title">Registration</div>
    {% if messages %}
    {%for mess in messages%}
    {% if mess.tags == 'error'%}
    <div class="fail__alert">
        <span class="fail__alert-icon fas fa-exclamation-circle"></span>
        <p class="fail__alert-msg">{{ mess }}</p>
    </div>
    {%endif%}
    {% if mess.tags == 'success'%}
    <div class="success__alert">
        <span class="success__alert-icon fas fa-check-circle"></span>
        <p class="success__alert-msg">{{ mess }}</p>
    </div>
    {%endif%}
    {%endfor%}
    {% endif %}
    <form action="{% url 'login'%}" method="post">
        {% csrf_token %}
        <div class="user-details">
            
            <!-- Username -->
            <div class="input-box">
                <span class="details">Username</span>
                <input type="text" class="input" placeholder="Enter your username" name="username"
                    value="{{data.username}}" required />

            </div>

            <!-- Password -->
            <div class="input-box">
                <span class="details">Password</span>
                <input type="password" class="input" placeholder="Enter your password" name="password" required />
            </div>
        </div>
        <div class="button">
            <input type="submit" value="Login" class="btn" />
        </div>
        <div class="">
            <p>
                Need an account? <a href="{% url 'register' %}">Register</a>
            </p>
        </div>
    </form>
</div>
</body>
